/* Calendar Datepicker */

td.day:not(.disabled) {
    border: 2px solid #8cc152;
    border-radius: 4px;
}

div.page-header {
    background-image: image-url('img_budget.jpg');
}

.btn-fc {
    border-radius: 20px;
    background-image: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}
