/*------------------------------------------------------------------
[Master Stylesheet]
Project:        Gaea
Version:        1.0
Last change:    08/06/14
Author: imithemes
-------------------------------------------------------------------*/
/* Stylesheets and Google fonts import */

/*------------------------------------------------------------------
[Table of contents]

0. CSS Reset
1. Basic Styles
2. Typography
3. Margin Bottom Sets
4. Padding Sets
5. Spacers Sets
6. Site Structure & Appearance
        6.1. Main Navigation
        6.2. Slider Revolution Custom Caption Styling
        6.3. Widgets Styling
        6.4. Counter Shortcode
        6.5. Parallax Backgrounds
7. Responsive Media Queries
-------------------------------------------------------------------*/

/* ==================================================
   1. Basic Styles
================================================== */


/* Inner Pages */
.page-header{
    height:280px;
    margin:0;
    background-color:#ccc;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    border:0;
}

a {
    color:#555555;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
a:hover{
    text-decoration:none;
}
a:hover,
a:active,
a:focus{
    outline: 0;
    color:#666666;
}
.gray-bg{
    background:#e8e8e8;
}
.gray-text{
    color:#bababa;
}
.lgray-bg{
    background:#fafafa;
}
.dgray-bg{
    background:#333333;
}

h1,
h2,
h3,
h4,
h5,
h6{
    /* margin:0 0 18px 0; */
    color:#333333;
    font-weight:400;
    line-height:1.5em;
}
h1{
    font-size:30px;
}
h2{
    font-size:24px;
}
h2 small{
    display:block;
    letter-spacing:.1em;
    text-transform:uppercase;
    font-size:45%
}
h3{
    font-size:18px;
}
h3.block-title{
    text-transform:uppercase;
    font-size:16px;
}
h4{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.1em;
}
h5{
    font-size:14px;
}
h6{
    font-size:12px;
}
h1.short, h2.short, h3.short, h4.short, h5.short, h6.short, p.short{
    margin-bottom:5px;
}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced {
    margin-top: 22px;
}
h1 a, h2 a, h3 a, h5 a, h6 a{
    color:#333333;
    text-decoration:none;
}
.huge{
    font-size:10em;
}
blockquote{
    margin:30px 0;
    padding:0 0 0 30px;
    border-left:3px solid;
}
blockquote p{
    margin-bottom:0;
    white-space:normal;
    font-style:italic;
    font-size:20px;
}
blockquote cite{
    color:#ffffff;
}
blockquote cite:before{
    content:"- ";
}
p {
    margin:0 0 14px 0;
}
p.md{
    font-size:16px;
    line-height:22px;
}
p.lg{
    font-size:30px;
    line-height:1.2em;
}
.big{
    font-size:200%;
    line-height:1.5em;
}
.thin{
    font-weight:300;
}
p.drop-caps:first-child:first-letter {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
    font-family:Georgia, serif;
    line-height: 60px;
}
p.drop-caps.secondary:first-child:first-letter {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
hr{
    display:block;
    clear:both;
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    height:1px;
    border:0;
    background:#e8e8e8;
}
hr.sm{
    display:inline-block;
    margin:15px 0;
    width:40px;
    height:2px;
    border:0;
}
hr.md{
    display:inline-block;
    margin:15px 0;
    width:100px;
    height:2px;
    border:0;
}
hr.fw{
    display:block;
    clear:both;
    margin-top:0;
    margin-bottom:50px;
    width:100%;
    height:1px;
    border:0;
}
ul.checks, ul.angles, ul.carets, ul.chevrons{
    margin:0;
    list-style-type:none;
    margin-bottom:15px;
}
ul.checks > li, ul.angles > li, ul.carets > li, ul.chevrons > li{
    margin:10px 0;
}
ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i{
    margin-right:2px;
}
ul.inline{
    margin:10px 0;
}
ul.inline > li{
    display:inline-block;
    margin-right:10px;
}
ul.inline > li i.fa{
    margin-right:2px;
}
ul.nav-list-primary > li a{
    display:block;
    padding:8px;
    border-bottom:1px solid #eceae4;
    color:#666666;
    text-decoration:none;
}
ul.nav-list-primary > li a:hover{
    text-decoration:none;
}
dl{
    margin:10px 0;
}
dl dt{
    font-weight:700;
}
address.ico i{
    display:inline-block;
    float: left;
    clear:both;
    padding-top: 3px;
}
address.ico p{
    margin:0;
    padding-bottom:10px;
}
address.ico span{
    display:inline-block;
    padding-left:20px;
}
.cursive{
    font-family: 'Georgia', serif;
    font-style:italic;
    text-transform:none;
    font-weight:400;
    letter-spacing:0;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-control{
    margin-bottom:20px;
}
.title{
    border-bottom:#e8e8e8 1px solid;
}
.titleb{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.1em;
}
.title .title-border{
    padding-bottom:9px;
    display:inline-block;
    border-bottom-width:1px;
    border-bottom-style:solid;
    margin-bottom:-1px;
}

/* ==================================================
   3. Margin Bottom Sets
================================================== */

.margin-0{
    margin-bottom:0 !important;
}

.margin-10{
    margin-bottom:10px !important;
}

.margin-15{
    margin-bottom:15px !important;
}

.margin-20{
    margin-bottom:20px !important;
}

.margin-30{
    margin-bottom:30px !important;
}

.margin-40{
    margin-bottom:40px !important;
}

.margin-50{
    margin-bottom:50px !important;
}

.margin-60{
    margin-bottom:60px !important;
}

.margin-70{
    margin-bottom:70px !important;
}

.margin-80{
    margin-bottom:80px !important;
}
.push-top{
    margin-top:35px;
}

/* ==================================================
   4. Padding Sets
================================================== */
.padding-b0{
    padding-bottom:0!important;
}
.padding-tb20{
    padding-top:20px;
    padding-bottom:20px;
}
.padding-tb45{
    padding-top:45px;
    padding-bottom:45px;
}
.padding-tb75{
    padding-top:75px;
    padding-bottom:75px;
}
.padding-tb100{
    padding-top:100px;
    padding-bottom:100px;
}
.padding-tb125{
    padding-top:125px;
    padding-bottom:125px;
}
/* ==================================================
   5. Spacers Sets
================================================== */
.spacer-20{
    height:30px;
    clear:both;
    width:100%;
}
.spacer-30{
    height:30px;
    clear:both;
    width:100%;
}
.spacer-40{
    height:40px;
    clear:both;
    width:100%;
}
.spacer-50{
    height:50px;
    clear:both;
    width:100%;
}
.spacer-75{
    height:75px;
    clear:both;
    width:100%;
}
.spacer-100{
    height:100px;
    clear:both;
    width:100%;
}

/* ==================================================
   5. Multi purpose Elements
================================================== */
.overlay-transparent, .gallery-grid .gallery-cat{
    background:rgba(0,0,0,.6);
}
.checkers-overlay{
    background:url(../images/checkers.png) repeat;
}
.pattern-overlay{
    background:url(../images/pattern.png) repeat;
}
.next-prev-nav{
    display:inline-block;
}
.next-prev-nav a{
    display:inline-block;
    width:20px;
    height:20px;
    color:#fff;
    text-align:center;
    line-height:20px;
    text-decoration:none;
}
.next-prev-nav a:hover{
    color:#fff;
}
.meta-data{
    color:#999;
    font-size:11px;
    text-transform:uppercase;
    font-weight:700;
}
.meta-data a{
    color:#666666;
}
.meta-data a i{
    color:#999999;
}
.meta-data a:hover{
    text-decoration:none;
}
.meta-data > span{
    margin-right:20px;
    display:inline-block;
}
.meta-data i{
    margin-right:4px;
}
.meta-data > span:last-child{
    margin-right:0;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.media-box{
    position:relative;
    display:block;
    max-width:100%;
}
.media-box .zoom, .media-box .expand{
    position:absolute;
    width:36px;
    height:36px;
    line-height:36px;
    margin:0 auto;
    text-align:center;
    color:#ffffff!important;
    font-size:1.2em;
    z-index:999;
    left:50%;
    top:50%;
    margin-left:-18px;
    margin-top:-18px;
    -webkit-border-radius:4px;
    border-radius:4px;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.media-box:hover img{
    opacity:.9
}
.media-box:hover .zoom, .media-box:hover .expand{
    opacity:1;
    -webkit-transition: opacity .3s .2s;
    -moz-transition: opacity .3s .2s;
    -ms-transition: opacity .3s .2s;
    -o-transition: opacity .3s .2s;
    transition: opacity .3s .2s;
}
.media-box .media-box-wrapper{
    padding:30px;
}
.icon-block{
    text-align:center;
}
.icon-block .icon{
    width:70px;
    height:70px;
    line-height:90px;
    text-align:center;
    display:inline-block;
    -webkit-border-radius:100%;
    border-radius:100%;
    color:#ffffff;
    margin-bottom:25px;
}
.icon-block .icon > i{
    font-size:3em;
}
.icon-block .icon >span{
    display:block;
}
.icon-block p{
    padding:0 20px;
}
.secondary-bar .icon-block{
    text-align:left;
    display:inline-block;
}
.icon-block .icon{
    width:70px;
    height:70px;
    line-height:90px;
    margin-bottom:0;
    margin-right:20px;
}
.secondary-bar .icon-block .icon i{
    font-size:2em;
}

/* ==================================================
   6. Site Structure & Appearance
================================================== */
body{
    background-color:#ffffff;
    color:#666666;
    font-size:14px;
    font-weight:450;
    line-height:23px;
    background-attachment:fixed;
}


@media (min-width: 1200px) {
    body.boxed .body .site-header, body.boxed .body .main-menu-wrapper{
        max-width:100%;
        width:1250px;
    }
}
.site-header{
    position:absolute;
    top:0;
    left:50%;
    z-index:9;
    width:1250px;
    margin:0 auto;
    margin-left:-625px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
    box-shadow:0 1px 2px rgba(0,0,0,.1);
}
body.boxed .body .site-header{
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:0;
    border-radius:0;
}
.top-header{
    position:relative;
    z-index:2;
    background-color:#292929;
    height:37px;
}

.lead-block{
    background: image-url('wave-high.png') repeat-x #fafafa;
    border-bottom:#e8e8e8 1px solid;
    padding:50px 0;
}
.lead-block .nav-tabs-bar{
    background:#fff;
}
.lead-block .nav-tabs > li > a{
    background:none;
}
.content{
    padding:40px 0 50px;
}
.home .content{
    padding:0;
}
.border-col{
    border-right:#e8e8e8 1px solid;
    padding-top:40px;
    padding-bottom:40px;
}

.home .sidebar{
    padding-top:40px;
    padding-bottom:30px;
}

.our-partners{
    border-top:#e8e8e8 1px solid;
    padding:40px 0;
    background-image: image-url('wave-high.png');
    background-repeat: repeat-x;
    background-color:#fafafa;
}
.partner-logos{
    margin:0;
    list-style-type:none;
}
.partner-logos li{
    display:inline-block;
    margin:28px 26px 0;
}
.partner-logos li:last-child{
    margin-right:0;
}

.site-footer{
    color:#8a8a8a;
}
.site-footer a{
    color:#ccc;
}
.site-footer a:hover{
    color:#fff;
}
.site-top-footer{
    background-image: image-url('wave-high.png');
    background-repeat: repeat-x;
    background-color:#2f2f2f;
    padding:40px 0;
}
.site-bottom-footer{
    background-color:#292929;
    border-top:1px solid #252525;
    padding:20px 0;
    font-size:14px;
}
.site-bottom-footer p{
    margin-bottom:0;
    color:#666;
}
.footer-nav{
    float:right;
    margin:0;
    list-style-type:none;
}
.footer-nav li{
    display:inline-block;
    text-transform:uppercase;
    margin-left:15px;
}

.sidebar .widget.sidebar-widget:last-child{
    margin-bottom:0;
}
.sidebar h3.title .title-border{
    padding-bottom:18px;
}
.widget ul, .widget ol{
    margin:0;
    list-style-type:none;
}
.widget li{
    margin-bottom:10px;
    padding-bottom:7px;
}
.staff_widget > ul > li{
    border-bottom:1px solid #e8e8e8;
}
.staff_widget > ul > li .people-info .people-name{
    margin-bottom:5px;
    margin-top:12px;
}
.staff_widget > ul > li .people-info .people-position{
    font-size:12px;
}
.tag-cloud a{
    display:inline-block;
    margin-right:4px;
    margin-bottom:7px;
    padding:2px 8px;
    border:1px solid rgba(0,0,0,.1);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:#fafafa;
    font-size:12px;
    color:#ffffff;
    text-decoration:none;
}
.tag-cloud a:hover{
    color:#ffffff;
    text-decoration:none;
}
.footer-widget .widgettitle{
    color:#ccc;
    font-weight:700;
    font-size:11px;
}

#back-to-top {
    position:fixed;
    right:17px;
    bottom:17px;
    display:none;
    padding:5px 12px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:rgba(0,0,0,.7);
    color:#ffffff;
}
/* ==================================================
   6.5. Parallax Backgrounds
================================================== */
.parallax{
    background-attachment: fixed!important;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:#f8f8f8;
}
.touch .parallax, .nav-backed-header.parallax{
    background-attachment:scroll!important;
}

@media only screen and (max-width: 1199px) {
    .page-header{
        height:200px;
    }
    .page-header h2{
        padding-top:30px;
    }
    .page-header .breadcrumb{
        padding-top:40px;
    }
    .site-header{
        width:100%;
        z-index:1000;
        position:relative;
        left:0;
        margin-left:0;
    }
    h1.logo{
        width:90%;
    }
    .main-navigation{
        display:none;
        width:100%;
        position:absolute;
        height:auto;
        left:0;
        top:75px;
        background:#fff;
        z-index:99;
        border-top:2px solid #fafafa;
    }
    .main-navigation ul{
        float:none;
    }
    .main-navigation > ul > li{
        display:block;
        width:100%;
    }
    .main-navigation > ul > li > a{
        display:block;
        padding:15px 0 15px 20px;
        line-height:normal;
    }
    .main-navigation > ul > li ul{
        position:static;
        top:0;
        left:0!important;
        margin:0;
        -webkit-box-shadow:none;
        box-shadow:none;
        -webkit-border-radius:0;
        border-radius:0;
    }
    .main-navigation > ul > li > ul li ul{
        position:static;
        margin:0;
        left:0!important;
        width:100%;
    }
    .main-navigation > ul > li > ul:before, .main-navigation > ul > li > ul li ul:before{
        display:none;
    }
    .main-navigation > ul > li.megamenu > ul{
        width:100%;
    }
    .main-navigation > ul > li.megamenu > ul .megamenu-container > div.row > div{
        margin-top:20px;
    }
    .number-block{
        width:40px;
        height:80px;
    }
    .icon-block p{
        padding:0;
    }
    .border-col{
        border-right: 0;
    }
    .post-thumb{
        margin-bottom:20px;
    }
    .partner-logos li{
        margin:28px 52px 0 0;
    }
    .sidebar{
        margin-top:40px;
    }
    .secondary-bar .nav-pills{
        float:left!important;
    }
    .secondary-bar span.big, .secondary-bar .basic-link{
        display:block;
        margin-bottom:20px;
        line-height:1em
    }
    .secondary-bar .btn.pull-right{
        float:left!important;
    }
}
@media only screen and (max-width: 767px) {
    /* Isotope */
    .isotope {
        overflow: visible !important;
        height: auto !important;
    }
    .isotope-item {
        position: static !important;
        margin-right: auto;
        margin-left: auto;
        width: auto;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }
    .isotope-hidden {
        display: none !important;
    }
    .grid-item{
        margin-bottom: 6%;
    }
    .grid-holder.col-2 .grid-item{
        width:95%;
    }
    .grid-holder.col-3 .grid-item{
        width:95%;
    }
    .grid-holder.col-4 .grid-item{
        width:95%;
    }
    .img-thumbnail{
        margin-bottom:20px;
    }
    .grid-item .media-box{
        margin-bottom:0;
    }
    .sidebar{
        float:left;
        width:100%;
        margin-top:30px;
    }
    #back-to-top{
        display:none!important;
    }
    .number-block{
        width:20px;
        height:40px;
    }
    .icon-block{
        margin-bottom:40px;
    }
    .footer-widget{
        margin-bottom:30px;
    }
    .site-bottom-footer{
        text-align:center;
    }
    .footer-nav{
        float:none;
        margin-top:20px;
    }
    .footer-nav li{
        margin-left:0;
        margin-right:15px;
    }
    .secondary-bar .col-md-offset-1{
        margin-top:20px;
    }
    .event-register-block{
        margin-top:30px;
    }
    .border-cols > div{
        width:100%;
        border-right:0;
        padding-left:0;
        padding-right:0;
        margin-bottom:10px;
    }
    .nav-tabs-bar{
        height:auto;
        padding-right:0;
    }
    .nav-tabs-bar .pull-right{
        display:none;
    }
    .nav-tabs{
        float:none;
        width:100%;
    }
    .nav-tabs > li{
        width:100%;
    }
    .nav-tabs > li a{
        border-right:0;
    }
    .featured-project-block{
        margin-bottom:30px;
    }
    .event-single-venue > span:first-child{
        display:none;
    }
    .partner-logos li{
        text-align:center;
        margin-left:0;
        margin-right:0;
        width:100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

}
