---
title: FruitCollect - Nous Soutenir
---
<div class="row">
   <div class="col-sm-12">

      <h2>Devenir Récolteur et/ou Donneur</h2>

      <div class="row">
	 <form method="post" id="contactform" name="contactform" class="contact-form clearfix" action="https://formspree.io/carlosvkr@gmail.com">
            <div class="col-md-6">
               <input type="text" id="name" name="Nom"  class="form-control" placeholder="Nom*" required>
               <input type="text" id="prenom" name="Prénom"  class="form-control" placeholder="Prénom*" required>
               <input type="date" id="age" name="Date de naissance"  class="form-control" placeholder="Date de Naissance*" required>
               <input type="text" id="adresse" name="Adresse"  class="form-control" placeholder="Adresse, n°, ville*" required>
               <input type="email" id="email" name="email"  class="form-control" placeholder="Email*" required>
               <input type="tel" id="phone" name="Téléphone/GSM" class="form-control" placeholder="Téléphone/GSM*" required>
	       <label>J'aimerais devenir: </label>
	       <select class="form-control" name="Type de soutien" required>
		  <option value="Récolteur">Récolteur</option>
		  <option value="Donneur">Donneur</option>
		  <option value="Récolteur et donneur">Récolteur et donneur</option>
	       </select>
	    </div>
            <div class="col-md-6">
	       <div class="form-group">
                  <textarea cols="6" rows="7" id="comments" name="Informations complémentaires" class="form-control" placeholder="Informations complémentaires"></textarea>
                  <p>Pour les donneurs de fruits, veuillez nous renseigner le <strong>type</strong> et le <strong>nombre</strong> d'arbres fruitiers dont vous disposez ainsi que la <strong>période de récolte</strong> de chaque arbre. <br>Merci d'avance!</p>
	       </div>

            </div>

            <div class="col-md-12">
	       <button id="submit" type="submit" class="btn btn-primary btn-lg btn-fc">Envoyer</button>
            </div>
	 </form>
      </div>
   </div>

   <div class="col-sm-12">
      <h2>Faire un Don</h2>
      <p class="lead">Ressources nécessaires au bon déroulement de FruitCollect</p>
      <p>En plus des donneurs et  récolteurs de fruits, indispensables pour la survie de l'association, les donateurs sont tout aussi importants car nous avons sans cesse besoin de nouveaux matériels pour récolter, de nouveaux moyens de nous faire connaître, des moyens de locomotion pour transporter les fruits, etc... </p>
      <p>Pour nous aider et nous soutenir, vous pouvez dès lors nous faire parvenir des outils neufs ou d'occasions, et/ou une participation financière via :</p>

      <div class="panel panel-default">
	 <div class="panel-heading">
	    <h4>Notre compte bancaire :</h4>
	 </div>
	 <div class="panel-body">
	    <strong>Banque: </strong>
	    <p>BNP Paribas Fortis</p>
	    <strong>BIC: </strong>
	    <p>GEBABEBB</p>
	    <strong>IBAN: </strong>
	    <p>BE08 0017 8545 1213</p>
	 </div>
      </div>
   </div>
</div>
