---
title: FruitCollect - Nous Soutenir
extra_js: [soutien]
---
<div class="row">
   <div class="col-sm-12">

      <h2>Devenir Récolteur et/ou Donneur</h2>

      <div class="row">
         <form method="post" id="soutienform" name="soutient_form" class="contact-form clearfix" action="https://formspree.io/info@fruitcollect.be">
            <input type="hidden" name="_next" value="//fruitcollect.be/merci" />
            <div class="col-md-6">
               <h4>J'aimerais devenir: </h4>
               <select id="type_soutien" class="form-control" name="Type de soutien" required>
                  <option label="Récolteur" value="Récolteur">Récolteur</option>
                  <option label="Donneur" value="Donneur">Donneur</option>
                  <option label="Récolteur et donneur" value="Récolteur et donneur">Récolteur et donneur</option>
               </select>
               <input type="text" id="name" name="Nom"  class="form-control" placeholder="Nom*" required>
               <input type="text" id="prenom" name="Prénom"  class="form-control" placeholder="Prénom*" required>
               <input type="text" id="datepicker-birth" name="Date de naissance"  class="form-control" placeholder="Date de Naissance*" required>
               <input type="text" id="adresse" name="Adresse"  class="form-control" placeholder="Adresse, n°, ville*" required>
               <input type="email" id="email" name="Email"  class="form-control" placeholder="Email*" required>
               <input type="tel" id="phone" name="Téléphone/GSM" class="form-control" placeholder="Téléphone/GSM*" required>

               <h4 class="donneur">Type de fruits:</h4>
               <%= fruit_choices %>
               <input class="donneur" type='text' name='Autres fruits' placeholder="Autres..." />
               <input class="donneur form-control mt-1" type="text" id="period" name="Période de récolte" class="form-control" placeholder="Période de récolte estimée*" required>
               <h5 class="recolteur" style="display: inline-block;">Motorisé ?</h5>

               <label for="Oui" class="recolteur label-and-input">Oui
                  <input type="radio" name="Motorisé" value="Oui" required />
               </label>

               <label for="Non" class="recolteur label-and-input">Non
                  <input type="radio" name="Motorisé" value="Non" required />
               </label>

            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <textarea cols="6" rows="7" id="comments" name="Informations complémentaires" class="form-control mt-2" placeholder="Informations complémentaires"></textarea>
               </div>

            </div>

            <div class="col-md-12">
               <button id="submit" type="submit" class="btn btn-primary btn-lg btn-fc">Envoyer</button>
            </div>
         </form>
      </div>
   </div>

   <div class="col-sm-12">
      <h2>Faire un Don</h2>
      <p class="lead">Ressources nécessaires au bon déroulement de FruitCollect</p>
      <p>En plus des donneurs et  récolteurs de fruits, indispensables pour la survie de l'association, les donateurs sont tout aussi importants car nous avons sans cesse besoin de nouveaux matériels pour récolter, de nouveaux moyens de nous faire connaître, des moyens de locomotion pour transporter les fruits, etc... </p>
      <p>Pour nous aider et nous soutenir, vous pouvez dès lors nous faire parvenir des outils neufs ou d'occasions, et/ou une participation financière via :</p>

      <div class="panel panel-default">
         <div class="panel-heading">
            <h4>Notre compte bancaire :</h4>
         </div>
         <div class="panel-body">
            <strong>Banque: </strong>
            <p>BNP Paribas Fortis</p>
            <strong>BIC: </strong>
            <p>GEBABEBB</p>
            <strong>IBAN: </strong>
            <p>BE08 0017 8545 1213</p>
         </div>
      </div>
   </div>
</div>
