<h2>Commande de jus</h2>

<p>Afin de couvrir les nombreux frais de l’ASBL nous vous proposons d’acheter notre 100% pur jus de pommes de quoi vous faire le plein de vitamines.</p>

<p>Comment ça marche? </p>
<ul>
   <li>Nous venons vous le livrer à vélo le dimanche matin sur les communes de Woluwé, Evere, Etterbeek, Schaerbeek, Ixelles et Uccle et en dehors de ces zones ce sera en voiture</li>
   <li>Minimum 4 bouteilles de jus par livraison</li>
   <li>Tout cela pour <strong>3€ par bouteille</strong> de 1 litre et <strong>1€ par pain au chocolat.</li>
</ul>


<form method="post" action="">
   <input type="text">
</form>
