<footer class="site-footer site-top-footer">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-6 footer-widget widget text_widget">

	    <p><strong>Contact</strong></p>
	    <p><a href="mailto:info@fruitcollect.be">info@fruitcollect.be</a></p>
	    <p>+32 (0) 479 06 84 48</p>
	    <p>Belgium</p>

         </div>
         <div class="col-md-3 col-sm-6 footer-widget widget instafeed_widget">
            <p><strong>Facebook</strong>
               <div class="fb-page" data-href="https://www.facebook.com/fruitcollect" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/fruitcollect"><a href="https://www.facebook.com/fruitcollect">FruitCollect</a></blockquote></div></div>
         </div>
      </div>
   </div>
</footer>
<footer class="site-footer site-bottom-footer">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-sm-4">
            <p>Copyright © 2017 FruitCollect / Design by <a href="http://www.icreati.be" target="_blank">icreati</a></p>
         </div>
      </div>
   </div>
</footer>
<!-- End Footer -->
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
