---
title: FruitCollect - Contact
---

<div class="row">
   <div class="col-md-3">
      <span class="icon-block"><span class="icon label-warning"><i class="fa fa-phone"></i></span></span><strong>+32 (0) 479 06 84 48</strong>
   </div>
   <div class="col-md-3">
      <span class="icon-block"><span class="icon label-danger"><i class="fa fa-envelope"></i></span></span><strong><a href="mailto:info@fruitcollect.be">info@fruitcollect.be</a></strong>
   </div>
   <div class="col-md-3">
      <span class="icon-block"><span class="icon label-primary"><i class="fa fa-facebook"></i></span></span><strong><a href="https://www.facebook.com/fruitcollect" target="_blank">FruitCollect</a></strong>
   </div>
</div>

<hr>

<div class="main" role="main">
   <div id="content" class="content full">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="spacer-20"></div>
               <h2>Nous écrire</h2>
               <div class="row">
                  <form method="post" id="contactform" name="contactform" class="contact-form clearfix" action="https://formspree.io/carlosvkr@gmail.com">
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="text" id="name" name="Nom/Prénom" class="form-control input-lg" placeholder="Nom et prénom*">
                        </div>
                        <div class="form-group">
                           <input type="email" id="email" name="email" class="form-control input-lg" placeholder="Email*">
                        </div>
                        <div class="form-group">
                           <input type="text" id="phone" name="Téléphone/GSM" class="form-control input-lg" placeholder="Téléphone">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <textarea cols="6" rows="7" id="comments" name="Message" class="form-control input-lg" placeholder="Votre message"></textarea>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <button id="submit" name="submit" type="submit" class="btn btn-primary btn-lg btn-fc pull-right">Envoyer</button>
                     </div>
                  </form>
               </div>
            </div>
            <!-- Start Sidebar -->
            <div class="col-md-4 sidebar right-sidebar">
               <div class="widget sidebar-widget text_widget">
                  <h3 class="title"><div class="title-border"><div class="title-border">Info :</div></div></h3>
                  <address>
                     N'hésitez pas à nous laisser votre message, nous nous ferons un plaisir d'y répondre dans les plus brefs délais.
                  </address>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
