---
title: FruitCollect - Calendrier
---
<div class="row">
   <div class="col-md-12 col-sm-12" align="center">
      <p class="lead" style="font-size:24px; font-weight:550;">Vous trouverez ci-dessous l'ensemble des récoltes planifiées à ce jour.</p>

      <p>Pour vous inscrire à une récolte, merci de nous <%= link_to "envoyer un mail en cliquant ici.", "/contact" %> Pensez à préciser à quelle(s) récolte(s) vous désirez participer ainsi que si vous viendrez seul ou accompagné. </p>
      <p class="lead" style="font-size:24px; font-weight:550;">Un grand merci!</p>
      <hr class="md">

      <p><iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23fafafa&amp;src=jsheabh487ae1sqv79b5t9vhvs%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Europe%2FBrussels" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </p>
   </div>

</div>
